@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("Poppins/Poppins-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;

  background: #ECF7F3;
}

#app {
  font-family: "Poppins", serif;
}
